.tweep
  .avatar= link_to image_tag("http://twitteravatar.appspot.com/users/avatar/#{tweep['screen_name']}"), "http://twitter.com/#{tweep['screen_name']}"
  .details
    .user_info
      = link_to tweep['screen_name'], "http://twitter.com/#{tweep['screen_name']}"
      |
      = tweep['name']
    .description= tweep['description']
    - if tweep['url']
      .url= link_to tweep['url']