- title "Who's Following"

= render :partial => 'search_form'
- if @user.screen_name
  #user_info
    %span.name= @user.name
    %p
      You have
      %span.count
        = @user.followers_count
      followers and
      %span.count
        = @user.friends_count
      friends.  
      - if @user.followers_count < 1000
        Bummer. :-(
      - else
        That's awesome!
    %p
      Here's what we know...

- if @tweeps
  = render :partial => 'sort_options'
  #tweeps
    = render :partial => 'tweep', :collection => @tweeps
  = render :partial => 'sort_options'